<mat-card>
    <mat-card-title>
        Sang's Addition Component
    </mat-card-title>
    <mat-card-content>
        <h4>Select one additional topping</h4>
        <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>Topping 1</mat-chip-option>
            <mat-chip-option>Topping 2</mat-chip-option>
            <mat-chip-option color="accent" selected>Topping 3</mat-chip-option>
            <mat-chip-option color="warn">Topping 4</mat-chip-option>
          </mat-chip-listbox>
        <br>
        <br>
        <mat-slide-toggle>Delivery?</mat-slide-toggle>
    </mat-card-content>
</mat-card>
